@import url(components/quiz-section.css);
@import url(components/person.css);

* {
  margin: 0;
  box-sizing: border-box;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90px;
  box-shadow: 0 1px 5px rgb(0 0 0 / 0.5);
}
footer {
  bottom: 0;
  width: 100%;
  min-height: 80px;
  margin: 0 auto;
  background-color: #202020;
  
}
li:hover {
  box-shadow: 0 1px 5px rgb(255, 255, 255);
}
a:hover {
  box-shadow: 0 1px 5px #313131;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 2px solid red;
  list-style-type: none;
  text-decoration: none;
  gap: 10%;
  margin: 0 auto;
  width: 100%;

}
a {
  text-decoration: none;
}
li {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 80px;
  padding: 1rem;
  background-color: #313131;
  
  width: 100%;
}
main {
  margin-bottom: 5rem;
  padding-bottom: 5rem;
}
