.quiz-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.quiz-card-button {
  margin: 25px auto;
  padding: 10px;
  width: 25%;
}
.quiz-card {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
  box-shadow: 0 1px 5px rgb(0 0 0 / 0.5);
  width: 65%;
}
.quiz-card-question {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 5rem;
  
}
.quiz-card-question__headline {
  font-size: 1.4rem;
}
.quiz-card-bookmark {
  display: flex;
}
.quiz-card-bookmark-Tag {
  background-color: #313131;
  color: white;
  text-decoration: none;
  padding: 7px;
  margin-top: 5rem;
  margin-left: 15px;
  margin-bottom: 15px;
  font-size: 18px;
}
.quiz-card-icon {
  position: relative;
}
.quiz-card-icon svg {
  position: absolute;
  top: 5px;
  right: 5px;
}
.quiz-card--active {
  fill: white;
  stroke: #313131;
  stroke-width: 3;
}
.quiz-card__answer--hidden {
  display: none;
}
