.quiz-section {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.quiz-section button {
  margin-top: 1rem;
  padding: 10px;
}
.quiz-card {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
  box-shadow: 0 1px 5px rgb(0 0 0 / 0.5);
  width: 450px;
  height: 400px;
}
.quiz-card-question {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 450px;
  height: 400px;
}
.quiz-card-bookmark {
  display: flex;
}
.quiz-card-bookmark a {
  margin-left: 15px;
  background-color: #313131;
  color: white;
  text-decoration: none;
  padding: 7px;
  margin-left: 15px;
  margin-bottom: 15px;
  font-size: 18px;
}
.quiz-card-icon {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-right: 10px;
}
